@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}
.container
{
    width: 80%;
    min-height: 500px;
    margin: auto;
    /*border: 1px solid;
    */background-image: url(/IMAGE/amisoslider.jpg);
    background-color: lightgray;
    height: 300px;
   
}  
.header
{
    width: 100%;
    height: 80px;
    display: flex;
    
}
.header .logo
{
    width: 12%;
    margin-left: 100px;

}
.header .logo img
{
    width: 90px;
    /*margin-top: 10px;
    */padding-top: 10px;
    
}
.nav
{
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
}


.nav a
{
    text-decoration: none;
    margin-top: 10px;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: larger;
   
}
.search
{
    margin-top: 35px;
    margin-left: 75px ;
}
.search i
{
    position: absolute;
    margin-top: 8px;
    margin-left: 60px;
}

.search input
{
    width: 80px;

    height: 30px;
    border: none;
    background-color: #E8F2F3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.cont
{
    width: 200px;
    margin-left: 70px;
    padding-top: 35px;
}
.cont i
{
    position: absolute;
    padding: 10px;
    margin-left: -50px;
    font-size: x-large;
    background-color: red;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.cont li
{
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
}
a:hover
{
    color: rgb(255, 72, 0);

}
.line
{
    width: 100%;
    padding-top: 30px;
    border-bottom: 3px solid white;
}
.main
{
    width: 100%;
}
.main p
{
    margin-left: 220px;
    font-weight: 900;
    font-size: 8ch;
    margin-top: 150px;
    color: #556765;
}
.body
{
    width: 100%;
    display: flex;
    margin-top: 160px;
    background-color: #DDD4D4;
    
}
.body .map
{
    width: 50%;
    


}
.body .map iframe
{
    margin-top: 30px;
    width: 600px;
    height: 600px;
    margin-left: 80px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.body .btxt
{
    width: 50%;


}
.body .btxt 
{
    margin-top: 90px;
    width: 500px;
    height: 600px;
    margin-left: 50px;
}
.body .btxt h1
{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.body .btxt p
{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.body .btxt :nth-child(5)
{
    margin-top: 10px;
    font-weight: bold;
    
}
.conlogo img
{
    position: absolute;
    width: 50px;
    margin-top: 13px;
    color: brown;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.num
{
    margin-left: 60px;
}
.num :nth-child(2)
{
    color: #da7e7e;
}
.num :nth-child(1)
{
    font-size: xx-large;
}
.contactus
{
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    
    

}
.contactus h6
{
    width: 200px;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    font-size: 3ch;
    font-weight: bold ;
    background-color: #f3e3e1;
    padding: 5px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.contactus h1
{
    width: 600px;
    margin: auto;
    text-align: center;
    font-size: 8ch;
    font-weight: 900 ;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.login
{
    width: 700px;
    align-items: center;
    
}
.login .one 
{
   width: 800px;
   padding-top: 5px;
   margin-left: 330px;
}
.login .one input
{
    padding: 25px;
    background-color: #f3e3e1;
    width: 350px;
    border: none;
    outline: 0;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 800;
    font-size: 2ch;
}
.login .two 
{
   width: 800px;
   margin-left: 330px;
}
.login .two input
{
    padding: 25px;
    background-color: #f3e3e1;
    width: 350px;
    border: none;
    outline: 0;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 800;
    font-size: 2ch;
}
.login .three 
{
   width: 800px;
   margin-left: 330px;
}
.login .three :nth-child(1)
{
    padding-bottom: 150px;
    background-color: #f3e3e1;
    width: 720px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    outline: 0;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 800;
    font-size: 2ch;
}
.login .three :nth-child(2)
{
    color: white;
    padding: 25px;
    margin-top: 40px;
    background-color: #FE3837;
    width: 190px;
    border: none;
    outline: 0;
    margin-left: 280px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 800;
    font-size: 2ch;
    
}
.footer
{
    width: 100%;
    min-height: 200px;
    padding-top: 10px;
    background-color: #181818;
    padding-bottom: 30px;
}
.footer .sub
{
    display: flex;
    margin-top: 40px;
    padding: 50px;
    background-color: #0F0F0F;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    
}
.sub
{
    padding-top: 10px;
    width: 90%;
    margin: auto;
   

}
.footer .sub .stxt
{
    color: white;
    width: 800px;
    margin-left: 80px;
    font-weight: 500;
    font-size: larger;
}
.footer .sub .stxt p
{
    color: white;
    position: absolute;
    margin-left: 50px;
   

}
.footer .sub .stxt i
{
    color: rgb(175, 88, 88);
    position: absolute;
    margin-left: -30px;
    font-size: 5ch;

}
.footer .sub .iemail
{
    color: white;
    width: 400px;
    margin-left: 500px;
    display: flex;
}
.footer .sub .iemail input
{
    color: white;
    background-color: #0F0F0F;
    padding: 10px;
    width: 400px;
    border: none;
    outline: 0;
    font-weight: bold;
    font-size: 2ch;
}
.footer .sub .iemail i
{
    color: rgb(175, 88, 88);
    position: absolute;
    margin-left: 365px;
    margin-top: 5PX;
    font-size: 4ch;
}
.sub .line
{
    width: 400px;
    position: absolute;
    margin-left: 790px;
    margin-top: 22PX;
}
.down
{
    width: 80%;
    margin: auto;
    display: flex
}
.down .fone
{
    width:300px;
    margin: 20px;
    padding: 20px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.down .fone img
{
    width: 60px;
    margin-left: 90px;

}
.down .fone p
{
    padding-top: 30px;
    text-align: justify;
    color: white;

}
.down .fone i
{
    padding: 15px;
    color: white;

}
.down .fone :nth-child(7)
{
    padding: 10px;
    font-weight: bold;

}
.down .ftwo 
{
    width:180px;
    margin: 20px;
    color: white;
    padding: 20px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.down .ftwo h3
{
    margin-top: 10px;
    margin-left: 20px;
   padding-bottom: 40px;
}
.down .ftwo li
{
    margin-top: 10px;
   list-style-type: none;
}
.down .fthree 
{
   width: 300px;
   color: white;
    margin: 20px;
    padding: 20px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.down .fthree h3
{
    margin-top: 10px;
    margin-left: 80px;
   padding-bottom: 40px;
}
.down .fthree .pimg 
{
    width: 300px;
    margin-top: 10px;
   padding-bottom: 40px;

}
.down .fthree .pimg img
{
    width: 80px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ffour
{
    width: 300px;
   color: white;
    margin: 20px;
    padding: 20px;
    font-weight: 200;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
.down .ffour h3
{
    margin-top: 10px;
    margin-left: 30px;
   padding-bottom: 40px;
}
.down .ffour .fourone p
{
    
    margin-top: 10px;
   padding-bottom: 10px;

}
.down .ffour .fourtwo li
{
   
    margin-top: 10px;
   margin-left: 30px;
   list-style-type: none;

}
.down .ffour .fourtwo i
{
    
   position: absolute;

}
.down .ffour .fourtwo .iconfour :nth-child(1)
{
    
    margin-top: 5px;
    margin-left: 10px;
   

}
.down .ffour .fourtwo .iconfour :nth-child(2)
{
    
    margin-top: 32px;
   margin-left: 10px;
   

}
.last
{
    text-align: center;
    padding-top: 30px;
    font-size: larger;
    color: white;
    margin-bottom: 10px;
    
}
