*
{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
}
.head
{
    width: 100%;
    align-content: space-around;
    background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}
.h1head{
    
    float: left;
    margin: 30px;
    padding-bottom: 10px;
}
.imghead img{
    float: right;
}
#a{
    font-size: large;
}
.menu li{
    background: radial-gradient(circle at -1.7% -2.7%, rgb(250, 138, 138) 0%, rgb(198, 124, 204) 90%);
    display: block;
    list-style:none;
   padding: 10px;
    margin: 20px;
   display: inline;
   text-decoration: none;
}
.menu a{
    text-decoration: none;
    color: white;
}
.homeimg{
    color: white;
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%);
}
.homeimg h1:hover{
    color: rgb(255, 5, 88);
    
}
.homeimg img{
    width: 100%;
    height: 500px;
}
.Services{
    color: white;
    padding: 20px;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(87, 108, 117) 0%, rgb(37, 50, 55) 100.2%);
}
.Services h1:hover{
    color: rgb(255, 5, 88);
    
}
.Services img{
    width: 80%;
    height: 500px;
    margin-top: 20px;
}
.marimg img{
width: 50;
height: 50;
}
.marimg{
    background-color: rgb(238, 153, 43);
}
.Placement h1:hover{
   
    color: rgb(255, 5, 88);
    
}
.Placement{
     
    width: 100%;
    height: 500px;
    margin: 30px;
}
.Aboutus h1:hover{
 
   
    color: rgb(255, 5, 88);
    
}
.Aboutus img{
     
    width: 80%;
    height: 500px;
    margin-top: 100px;
    margin-left: 70px;
    
}