@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}
.container
{
    width: 80%;
    margin: auto;
    min-height: 300px;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 60px 300px 300px 60px; */
    grid-template-rows: auto auto auto 60px;
    grid-gap: 10px;

}
.header
{
    width: 100%;
    min-height: auto;
    background-color: rgb(170, 148, 148);
   
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: 80px;
    grid-column: 1/-1;
   
    

}
.header .logo
{
    width: 100%;
    background-color: lightgray;
    grid-row:span 2
    
  
}
.logo img
{
    width: 100%;
    
    
    
}
.header .menu
{
    width: 100%;
    background-color:lightgrey;
    padding-top: 25px;
    grid-row: span 2;
}
.menu ul
{
    list-style: none;
    width: 100%;
}
.menu ul li
{
    display: inline-block;
    padding: 15px;
}
.menu ul li a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 1.2em;
}
.menu ul li a:hover
{
    color: blue;
}
.slider
{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
   
    grid-column: 1/-1;
    
}
.slider img
{
    width: 100%;
}
.main-con
{
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    grid-column: 1/-1;
    grid-gap: 10px;

}
.main-con .con
{
    width: 100%;
    border: 1px solid black;


}
.con img
{
    width: 100%;
    min-height: 300px;
}
.footer
{
    width: 100%;
    min-height: 60px;
     display: grid;

    background-color: rgb(162, 177, 99);
    grid-column: 1/-1;
    
}
.footer p
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}